/* [> shrink headerbars (don't forget semicolons after each property) <] */
/* headerbar { */
      /* min-height: 0px; */
          /* padding-left: 2px; [> same as childrens vertical margins for nicer proportions <] */
              /* padding-right: 2px; */
                  /* background-color: #2d2d2d; */

/* } */

/* headerbar entry, */
/* headerbar spinbutton, */
/* headerbar button, */
/* headerbar separator { */
      /* margin-top: 0px; [> same as headerbar side padding for nicer proportions <] */
          /* margin-bottom: 0px; */

/* } */

/* [> shrink ssd titlebars <] */
/* .default-decoration { */
      /* min-height: 0; [> let the entry and button drive the titlebar size <] */
          /* padding: 0px; */
              /* background-color: #2d2d2d; */

/* } */

/* .default-decoration .titlebutton { */
      /* min-height: 0px; [> tweak these two props to reduce button size <] */
          /* min-width: 0px; */

/* } */

/* window.ssd headerbar.titlebar { */
      /* padding-top: 3px; */
          /* padding-bottom: 0px; */
              /* min-height: 0; */

/* } */

/* window.ssd headerbar.titlebar button.titlebutton { */
      /* padding-top: 3px; */
          /* padding-bottom:opx; */
              /* min-height: 0; */

/* } */

/* window.ssd separator:first-child + headerbar:backdrop, */
/* window.ssd separator:first-child + headerbar, */
/* window.ssd headerbar:first-child:backdrop, */
/* window.ssd headerbar:first-child, */
/* window.ssd headerbar:last-child:backdrop, */
/* window.ssd headerbar:last-child, */
/* window.ssd stack headerbar:first-child:backdrop, */
/* window.ssd stack headerbar:first-child, */
/* window.ssd stack headerbar:last-child:backdrop, */
/* window.ssd stack headerbar:last-child, */
/* window.ssd decoration, */
/* window.ssd headerbar.titlebar { */
    /* border-radius: 0; */

/* } */

/* window.ssd headerbar * { */
    /* margin-top: -100px; */
      /* color: #1c2022; [> May need to tweak, this matches Adwaita Dark <] */

/* } */

/* window.ssd headerbar.titlebar, */
/* window.ssd headerbar.titlebar button.titlebutton { */
    /* border: none; */
      /* font-size: 0; */
        /* height: 0; */
          /* margin: 0; */
            /* max-height: 0; */
              /* min-height: 0; */
                /* padding: 0; */

/* } */
